{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/login.css"> {% endblock link %}

{% block nav %} {% include "library/navbar.html" %} {% endblock nav %}


{% block content %}
<!-- <h1>{% trans "Login" %}</h1><br> -->
<br>
<div class="container">
  <h2>Login</h2>
  <form name="SignForm" method="post" class="form-horizontal p-4" onsubmit=" return validate()">
    {% csrf_token %}
    {{form.non_field_errors}}
    {% for field in form %}
    <div class="form-group text-center">
      <div class="col-xs-8">
        <!-- <label>{{ field.label_tag }}</label> -->
        {{ field.label_tag }} {{ field }} <span class="errorlist"></span> 
      </div>
    </div>
    {% endfor %}
    <div class="form-group text-center">
      <div class="col-xs-8 row">
        <input type="submit" class="button" value="Login">
      </div>
    </div>
    <div class="text-center"><a href="/accounts/password/reset/">Forget Password?</a></div>
</div>
</form>
{% endblock content %}