{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<h1 class="text-center p-4 mb-2 bg-dark bg-success text-white">{% trans "Password Reset" %}</h1>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}


<span class="my-5 p-5 text-center" style="font-size: 25px;"><p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise
    contact us if you do not receive it in a few minutes.{% endblocktrans %}</p></span>

{% endblock %}