{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center my-4">{% trans "Change Password" %}</h1>

    <div class="signup-form">
        <form method="post" class="form-horizontal">{% csrf_token %}
          {{form.non_field_errors}}
          {% for field in form %}
          <div class="form-group text-center">
            <label class="control-label col-xs-4">{{ field.label_tag }}</label>
            <div class="col-xs-8">
              {{ field }} {{field.errors}}
            </div>
          </div>
          {% endfor %}
          <br>
          <div class="form-group text-center">
            <div class="col-xs-8 col-xs-offset-4">
              <button type="submit" class="btn btn-lg"
                style="background-color: #353b40; color: white; padding: 10px 40px 10px 40px; border-radius: 21px;">Change Password</button>
            </div>
          </div>
        </form>
      
      </div>
{% endblock %}
