{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change  my-5 text-center">
  {% csrf_token %}
  {{form.non_field_errors}}
    {% for field in form %}
    <div class="form-group text-center">
      <label class="control-label col-xs-4">{{ field.label_tag }}</label>
      <div class="col-xs-8">
        {{ field }} {{field.errors}}
      </div>
    </div>
    {% endfor %}
  <button  class="btn my-3" role="button" aria-pressed="true">{% trans "Change Password" %}</button><br>
  <a class="my-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
{% endblock %}