{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/utility.css"> {% endblock link %}

{% block content %}
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{%trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p class="my-5 p-5 text-center">{% blocktrans %}The password reset link was invalid, possibly
    because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password
        reset</a>.{%endblocktrans %}</p>
{% else %}
<div class="signup-form  py-5">
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        <div class="form-group text-center">
            <label class="control-label col-xs-4">{{ field.label_tag }}</label>
            <div class="col-xs-8">
                {{ field }} {{field.errors}}
            </div>
        </div>
        {% endfor %}
        <div class="form-group text-center py-4">
            <div class="col-xs-8 col-xs-offset-4">
                <button type="submit" class="btn">Chnage Password</button>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}