{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<h1 class="text-center p-4 mb-2 bg-dark bg-success text-white">{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="mt-5 mb-0 p-5 text-center" style="font-size: 25px;"><strong>Forgotten your password?</strong> Enter your e-mail address below, and we'll send you an e-mail allowing you
    to
    reset it.</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset my-4 text-center">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset My Password' %}" />
</form>

<p class="text-center mt-2" style="font-size: 18px;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>


{% endblock %}