[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
mysqlclient = "*"
coverage = "*"
django-allauth = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
