body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

        footer {
    padding: 0px 0px 0px 0px;
    background-color:#353b40;
    margin-top: auto; /* to make footer stick */
    color: white;
}