@media screen and (max-width: 600px) {

    .form-group,
    .control-label,
    .form-group input[type=submit] {
        width: 100%;
    }
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main {
    background: url(/static/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 88.6vh;
    width: 100%;
    color: black;
}

.container {
    display: absolute;
    border: .1rem solid black;
    padding: .9rem;
    background-color: rgba(112, 105, 105, 0.7);
    width: 35em;
    height: 35em;
    font-weight: 700;
    margin-top: 9rem;
    margin-right: 25%;
    border-radius: 1rem;
}

.nonfield {
    display: hidden;
    
}

.container h2 {
    text-align: center;
    font-size: 2rem;
}

.form-group {
    text-align: center;
}

.form-group input {
    text-align: center;
    display: block;
    width: 20rem;
    padding: .09rem;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 1.5rem;
    border-radius: 8px;
    box-sizing: border-box;
    border-radius: 10rem;
}

.button {
    text-align: center;
    display: block;
    width: 20rem;
    padding: .09rem;
    border: 2px solid black;
    background-color: #343a40;
    color: white;
    margin: 11px auto;
    font-size: 1.5rem;
    border-radius: 8px;
    box-sizing: border-box;
    border-radius: 10rem;
}

.button:hover {
    text-align: center;
    display: block;
    background-color: rgb(66, 64, 64);
    color: white;
    box-sizing: border-box;
}

.form-group label {
    font-size: 1.1rem;
    display: block;
}

footer {
    margin-top: auto;
}