<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>



    <style type="text/css">
        .signup-form{
        
    		margin-top: 2px;
            padding: 30px;
            width: 500px;
    		margin: 0 auto;
        }
        .btn {
            font-size: 16px;
            font-weight: bold;
    	
    		border: none;
    		margin-top: 20px;
    		min-width: 140px;
        }
       
    </style>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Library Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <li class="d-flex">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="adminpage">Admin</a>
            <a class="nav-link" href="studentpage">Student</a>
            <a href="adminlogin" class="nav-item nav-link">Logout</a> &nbsp
        </li>
    </div>
</nav>
   

    <div class="signup-form">
        <form method="post" class="form-horizontal">

            <center>
                <h2>ADD BOOK IN LIBRARY</h2>
            </center>

            {% csrf_token %}

            {% for field in form %}
            <div class="form-group text-center">
                <label class="control-label col-xs-4">{{ field.label_tag }}</label>
                <div class="col-xs-8">
                    {{ field }}
                </div>
            </div>
            {% endfor %}


            <div class="form-group text-center">
                <div class="col-xs-8 col-xs-offset-4">
                    <button type="submit" class="btn btn-success btn-lg" style="border-radius: 0%;">ADD</button>
                </div>
            </div>
        </form>
        <div class="text-center">View Available Book In Library<a href="viewbook">Click here</a></div>
    </div>

</body>

</html>