<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="static/favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favi/favicon-16x16.png">
    <link rel="manifest" href="static/favi/site.webmanifest">

    <style type="text/css">
        .signup-form {

            margin-top: 2px;
            padding: 30px;
            width: 500px;
            margin: 0 auto;
        }

        .btn {
            font-size: 16px;
            font-weight: bold;

            border: none;
            margin-top: 20px;
            min-width: 140px;
        }
    </style>
</head>

<body>
    
    {% include "navbar.html" %}


    <div class="signup-form">
        <form method="post" class="form-horizontal">

            <center>
                <h2>Admin Login</h2>
            </center>
            <br>

            {% csrf_token %}
            {% for field in form %}
            <div class="form-group text-center">
                <label class="control-label col-xs-4">{{ field.label_tag }}</label>
                <div class="col-xs-8">
                    {{ field }}
                </div>
            </div>
            {% endfor %}

            <div class="form-group text-center">
                <div class="col-xs-8 col-xs-offset-4">
                    <button type="submit" class="btn btn-success btn-lg" style="border-radius: 0%;">Login</button>
                </div>
            </div>
        </form>
        <div class="text-center">Do not have account? <a href="adminsignup">Signup here</a></div>
    </div>

    {% include "footer.html" %}
    
</body>

</html>