{% extends 'base.html' %}

{% block link %}<link rel="stylesheet" href="static/css/userpage.css">{% endblock link %}

{% block title %}Admin{% endblock title %}

{% block body %}

{% include 'navbar.html' %}

<div class="jumbotron">
    <h1 class="display-4">Welcome, Admin!</h1>
    <p class="lead">Welcome to Library Management System.</p>
    <hr class="my-4">
    <p>You can Login\SignUp Here.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" style="border-radius:0px;" href="adminsignup" role="button">SignUp</a>
        <a class="btn btn-primary btn-lg" style="border-radius:0px;" href="adminlogin" role="button">Login</a>
    </p>
</div>
{% endblock body %}