<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Library Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <li class="d-flex">
                <a class="nav-link active" href="">Home</a>
                <a class="nav-link" href="adminpage">Admin</a>
                <a class="nav-link" href="studentpage">Student</a>
                <a href="adminlogin" class="nav-item nav-link">Logout</a> &nbsp
            </li>
        </div>
    </nav>



    <h3 class="p-3 mb-2 bg-dark bg-success text-white" style='font-size: 30px;text-align:center;'>Book Added
        Successfully !</h3>
    <br><br>
    <div class="options" style="text-align:center">
        <a href="addbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button"
            aria-pressed="true">Add more Book</a><br><br>

        <a href="viewbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button"
            aria-pressed="true">View Book in Library</a><br><br>


    </div>
    <br>
</body>

</html>