<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <style>
        body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

        footer {
    padding: 0px 0px 0px 0px;
    background-color:#353b40;
    margin-top: auto; /* to make footer stick */
    color: white;
}
    </style>
</head>
<body>
    <!-- Footer -->
<footer class="page-footer font-small dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 TJ:
      <a href="https://tjlibrary.com/"> TJLibrary.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>