<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LMS Django</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    {% include "adminnavbar.html" %}
    <br>
    <br>
    <div class="jumbotron" style="    margin-bottom: 0px;">
        <h1 class="display-4">Hello {{user.first_name}} !</h1>
        <p class="lead">As you are Student, you can see how many book are present in library.
        </p>
        <hr class="my-4">
        <p>Option Available For You</p>
        <div class="options" style="text-align:center">
            <a href="studentview" class="btn btn-primary btn-lg active" style="border-radius: 0%;"
                role="button" aria-pressed="true">View books</a><br><br>
        </div>

    </div>

    {% include "footer.html" %}

</body>

</html>