{% extends 'base.html' %}

  {% block style %}<link rel="stylesheet" href="static/css/userpage.css">{% endblock style %}
    
  {% block title %}Student{% endblock title %}

  {% block body %}
  <div class="jumbotron">
    <h1 class="display-4">Hello, Student</h1>
    <p class="lead">Welcome to Library Management System.</p>
    <hr class="my-4">
    <p>You can view books in library after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" style="border-radius: 0%;" href="studentsignup" role="button">SignUp</a>
      <a class="btn btn-primary btn-lg" style="border-radius: 0%;" href="studentlogin" role="button">Login</a>
    </p>
  </div>
  {% endblock body %}
    