<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin | Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    
    {% include "navadmin.html" %}

    <h3 class="p-3 mb-2 bg-dark bg-success text-white" style='font-size: 30px;text-align:center;'>Available Book in
        Library</h3>
    {% if books%}
    <div class="container">
        <table class="table table-hover table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Book Name</th>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>Genere</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.genere}}</td>
                    <td>
                        <a href="bookedit/{{forloop.counter}}"><span class="glyphicon glyphicon-pencil"
                                role="button">Edit</span></a>
                        <a href="bookdelete/{{forloop.counter}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%else%}
    <h1>Have 0 book</h1>
    {%endif%}
</body>

</html>